<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        <link rel="stylesheet" href="static/css/estilos1.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

  
  {% with messages = get_flashed_messages()%}
  {% if messages %}
  {% for message in messages  %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <!-- <p style="padding-left: 300px; padding-top: 120px;">{{ message }}</p>-->
  {% endfor %}
  {% endif %}
  {% endwith%}

  <div class="link">
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}" style="color:black;">Inicio</a></li>
        <li><a href="{{url_for('proyecto')}}" style="color:black;">Proyectos</a></li>
        <li><a href="{{url_for('login')}}" style="color:black;">Cerrar sesión</a></li>
    </ul>
    </nav>
</div>


<div class="menu">
     <header><img src="static/image/perenco.png" style="color: whitesmoke;"  width="200" height="75"    alt=""><p style="color: grey;">A D M I N</p></header>

    <ul>
        <li><a href="#"><i class="far fa-check-circle"></i>Admin Etapa</a></li>
        <li><a href="{{url_for('admin')}}"><i class="far fa-check-circle"></i>Admin</a></li>
    </ul>
</div>

<form action="/P_ecomomics">
<div class="formulario_Crear" style="padding-left: 300px; padding-top: 80px;  padding-right: 70px;">
    <h4 style="color: #063146;">Por favor complete la siguiente información</h4><br>
    <form class="form-group">
         </form>   
</div>
</form>


<form action="/editar_etapas" >
<div class="formulario_Consultar" style="padding-left: 300px; padding-top: 80px;  padding-right: 70px;">
    <h3 style="color: #063146;">Listado de Etapas Creadas</h3>
    <button type="submit" class="btn btn-outline-secondary">Ver Listado</button> 
    <br>
    <br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Usuario</th>
            <th scope="col">Operacion</th>
          </tr>
        </thead>
        <tbody>
        <!-- {% for key, value in datos %}
           <td>{{key}} </td> 
           <td>{{value }}</td>
         
        {% endfor %} -->
         </tbody>
      </table>
      
</div>
</form>




<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>