/*@import url('https://fonts.googleapis.com/css?family=Modak|Roboto');*/
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body{
    /*font-family: 'Roboto', sans-serif;*/
    font-family: sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}


.link nav ul li{
    float: left;
    list-style: none;
    padding:10px;
    color: #666;
}

.link nav{
    float: right;
    margin-top: 30px;
    margin-right:70px;
}




.sidebar{
 position: fixed;
 left: -250px;
 width: 250px;  /* tamaño ancho del menu*/
 height: 100%;
 background: #042331;
transition: all .5s ease;
}

.sidebar header{
 font-size: 40px; /* tamaño de la fuente AMS*/
 color: whitesmoke;
 text-align: center;
 line-height: 70px; /*tamaño cabezote ams*/
 background: #063146;
 user-select: none;
 }

 .sidebar ul a{
     display: block;
     height: 100%;
     width: 100%;
     line-height: 65px;
     font-size: 20px;
     color: whitesmoke;
     padding-left: 30px;
     box-sizing: border-box;
     border-top: 1px solid rgba(255, 255, 255, .1);
     border-bottom: 1px solid black;
     transition: .4s;
 }

 ul li:hover a{
     padding-left: 50px;
     }

.sidebar ul a i{
    margin-right: 12px;  /*tamaño entre items del menu*/
}

#check{
display: none; /*Ocultar el check*/
}

label #btn, label #cancel{
position: absolute;
cursor: pointer;
background: #042331;
border-radius: 3px;
padding: 6px 12px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color:whitesmoke;

    }

label #cancel{
z-index: 1111;
left: -195px;
top: 17px;
font-size: 30px;
color: #0a5275;
padding: 4px 9px;
transition: all .5s ease;
  }

  #check:checked ~ .sidebar{
      left: 0;
  }

  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#check:checked ~ label #cancel{
left: 195px;
}
