 {% extends "commons/header_menu.html" %}


{% block content %}

<form action="/componentes" method="POST">
  <form action="/list_etap_comp" method="POST">
  <div class="formulario_Crear" style="padding-left: 300px; padding-top: 80px;  padding-right: 70px;">
  <form class= form-inline>

    <div style="width: 40%;">
      <h3 style="color: #063146;">Crear Componente</h3><br>
      <p style="color: #063146;">Nombre del Componente  </p>
      <input type="text" class="form-control" name="nom_componente" id="text" ><br>
  </div>

  <div style="margin-left:42%; width: 40%;margin-top: -102px;">   
    <p>Seleccione la Etapa  </p>
    <select name="seleccione_etapa" id="etapa" class="form-control">
       {% for row in result %}
       <option>{{row["nom_etapa"]}}</option>
       {% endfor %}
    </select> 
</div>

<div style = "margin-left:85%; margin-top: -38px;">
  <input type="submit" class = "btn btn-outline-secondary" value="Clic" name="Clic"/>
  <input type="submit" class = "btn btn-outline-secondary" value="Guardar" name="Guardar"/>
</div>
</div>
</form>
</form>
</form>


<form action="/mostrar_componentes">
<div class="formulario_Consultar" style="padding-left: 300px; padding-top: 30px;  padding-right: 70px;">
    <h3 style="color: #063146;">Listado de Componente</h3>
    <p style="color:darkgreen; font-size:smaller;">{{total}} Componentes Creados </p>
    <button type="submit" class="btn btn-outline-secondary">Ver Listado</button><br><br>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre del Componente</th>
            <th scope="col">Etapa</th>
            <th scope="col">Usuario</th>
            <th scope="col">Operaciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            {% for row in result_comp %}
            <tr>
              <td>{{row["id"]}}</td>
              <td>{{row["nombre"]}}</td>
              <td>{{row["nom_etapa"]}}</td>
              <td>{{row["nom_usuario"]}}</td>
              <td>
                <a href="/update_comp/{{row.id}}" class="btn btn-outline-warning" data-toggle="modal" data-target="#modaledit{{row.id}}" style="font-size: small;"><i class="fas fa-edit"></i></a>
                <a href="/delete_comp/{{row.id}}" class="btn btn-outline-danger" onclick="return confirm('Are You Sure To Delete ?')" style="font-size: small;"><i class="far fa-trash-alt"></i></a>
              </td>
            </tr>    
             <!-- Modal Edit Employee-->
             <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Actualizar Informacion</h4>
                    </div>
                    <div class="modal-body">
                      <form action="{{url_for('update_comp')}}" method="POST">
                          <div class="form-group">
                            <label>Nombre del Componente:</label>
                            <input type="hidden"  name="id" value="{{row.id}}">
                            <input type="text" class="form-control" name="nombre" value="{{row.nombre}}">
                          </div>
                          <div class="form-group">
                            <button class="btn btn-outline-success" type="submit">Actualizar</button>
                          </div>
                      </form>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
             </div>
          </div>   
        {% endfor %}
       </tbody>
      </table>
</div>
</form>

{% endblock %}