<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Lateral</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body >

    <form action="/home" method="POST">
  
    <input type="checkbox" id="check">
    <label for="check">  
        <i class="fas fa-bars" id="btn"></i> <!--icono barra-->
        <i class="fas fa-times" id="cancel"></i> <!--icono cancelar-->
    </label>   
    <div class="sidebar">
   <header><img src="static/image/perenco.png" style="color: whitesmoke;"  width="200" height="75"    alt=""></header>

        <ul>
            <li><a href="{{url_for('dashboard')}}"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="{{url_for('admin')}}"><i class="far fa-question-circle"></i>Admin</a></li>
            <li><a href="{{url_for('menu_proyecto')}}"><i class="fas fa-qrcode"></i>Word Project</a></li>
            <li><a href="{{url_for('login')}}"><i class="fas fa-qrcode"></i>Cerrar Sesión</a></li>
        </ul>
    
    </div>


    <div class="container" style="margin-left: 220px; padding-top: 130px;  padding-right: 340px;">
    
        <img src="static/image/perenco.png" class="img-fluid" alt="Responsive image" style=" margin-left: 100px; width: 100%; margin-right: 100px;"  >
    </div>
   
</body>
</html>