<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>menu</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> 
        <link rel="stylesheet" href="static/css/estilos1.css">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

  
  {% with messages = get_flashed_messages()%}
  {% if messages %}
  {% for message in messages  %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>{{ message }}</strong>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <!-- <p style="padding-left: 300px; padding-top: 120px;">{{ message }}</p>-->
  {% endfor %}
  {% endif %}
  {% endwith%}

  <div class="link">
    <nav>
      <ul>
        <li><a href="{{url_for('home')}}" style="color:black;">Inicio</a></li>
        <li><a href="{{url_for('menu_proyecto')}}" style="color:black;">Proyectos</a></li>
        <li><a href="{{url_for('login')}}" style="color:black;">Cerrar sesión</a></li>
    </ul>
    </nav>
</div>


<div class="menu">
     <header><img src="static/image/perenco.png" style="color: whitesmoke;"  width="200" height="75"    alt=""></header>

    <ul>
        <li><a href="#"><i class="far fa-check-circle"></i>Admin Rol</a></li>
        <li><a href="{{url_for('admin')}}"><i class="far fa-check-circle"></i>Admin</a></li>
    </ul>
</div>

<form action="/rol_user"></form>

<form action="/crear_rol" method="POST">
<div class="formulario_Crear" style="padding-left: 300px; padding-top: 80px;  padding-right: 70px;">
    <h3 style="color: #063146;">Crear Rol de Usuario</h3><br>
    <form class="form-group">
        <p style="color: #063146;">Nombre del Rol</p>
        <input type="text" class="form-control" name="nombre_rol" id="text" >
        <br>
        <button type="submit" class="btn btn-outline-secondary">Crear</button>
   </form>   
</div>
</form>


<form action="/editar_rol" >
<div class="formulario_Consultar" style="padding-left: 300px; padding-top: 50px;  padding-right: 70px;">
    <h3 style="color: #063146;">Listado de Roles Creados</h3>
    <button type="submit" class="btn btn-outline-secondary">Ver Listado</button> 
    <br>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Nombre Rol</th>
          <th scope="col">Nombre de Usuario</th>
          <th scope="col">Operaciones</th>
         </tr>
      </thead>
      <tbody>
    
          {% for row in result %}
          <tr>
          <td>{{row["nombre"]}}</td>
          <td>{{row["nom_usuario"]}}</td>
          </tr>       
          {% endfor %}
          
        </tbody>
      </table>   
 
</div>



</form>




<!--SCRIPTS-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>

</html>